<%= render 'shared/header', titulo: "Editing Geofence"%>

<div class="container">
	<%= render 'form', geofence: @geofence %>

	<%= link_to 'Show', @geofence %> |
	<%= link_to 'Back', geofences_path %>
</div>
