<%= render 'shared/header', titulo: "New Geofance" %>

<div class="container" style="margin-top: 15px">
    <%= render 'form', geofence: @geofence %>

    <%= link_to 'Back', geofences_path %>
</div>

